{% extends 'accounts/User/main.html' %}
{% load static %}
  
{% block content %}
    

        <div class="container-fluid">
          <div class="container">
            <h1 class="pr text-center pt-4">PURCHASE REQUEST</h1>  
          </div>
          <form>
            <div class="form-group mb-3">
              <label for="departmentDropdown">Choose Department:</label>
              <select class="form-control" id="departmentDropdown">
    <option value="option1">Department 1</option>
    <option value="option2">Department 2</option>
    <option value="option3">Department 3</option>
               <input type="text" class="form-control" id="newDepartment" placeholder="Enter new department">
     
                  <button class="btn btn-info" type="button" id="addDepartmentBtn">Add Department</button>
                  <!-- Departments will be added here dynamically -->
              </select>
          
              <div id="otherText" style="display: none;">
    <input type="text" id="otherTextInput" placeholder="Others please specify">
  </div>

      <div class="form-group mb-3">
        <label for="exampleFormcontrolTextarea1 p-2">Purpose</label>
        <textarea class="form-control" id="exampleFormcontrolTextarea1" rows="3"></textarea>
      </div>
          </form>
          <div class="text-start my-2">
            <button type="button" class="btn btn-info text-white add-new"><i class="fa fa-plus"></i> Item</button>
          </div>
          <div class="container">
            <table class="table table-bordered table-responsive" id="itemTable">
                <thead>
                    <tr>
                        <th class="">Item No.</th>
                        <th class="">Item Name</th>
                        <th class="">Item Brand/Description</th>
                        <th class="">Unit</th>
                        <th class="">Quantity</th>
                        <th class="">Price</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Rows for items will be added here dynamically -->
                </tbody>
            </table>
        </div>
        <div 
        class="container justify-content-end align-items-baseline">
          Total Amount: _______________
          <a href="#" onclick="showConfirmationPopup()">
            <img class="cart_image" src="{% static 'images/cart.png' %}" alt="Icon" id="icon">
          </a>
          <div id="confirmationPopup" class="popup">
            <span class="popup-close direction-rtl justify-content-end" onclick="hideConfirmationPopup()" >X</span>
            <h2>Purchase Request Confirmation</h2>
            <!-- Add your confirmation content here -->
            <p>Your purchase request has been received and is being processed.</p>
          </div>
        </div>
      </div>
      </div> 
      <div>
    </div> 
    </main>
  
    
{% endblock %}