{% load static %}

<main class="flex-shrink">
    <div id="page-content-wrapper ">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <img class="ctu_logo mx-3" src="{% static 'images/ctu_loogo.png' %}" alt="CTU LOGO">
          <div>
            <h1 class="head">Online Supply Office</h1>
            <h1 class="p1">Cebu Technological University - Argao Campus</h1>
          </div>
          <div>
            <a href="{% url 'profile' %}">
              <img class="profile_img" src="{% static 'images/profile_default_image.png' %}" alt="">
            </a>
          <div>
            <h1 class="p1">Profile Name</h1>
          </div>
          </div>
      </nav>
    </div>
    <h1 class="welcome">Welcome to Cebu Technological University - Argao Campus Online Supply System </h1>
    <div class="d-flex" id="wrapper">
      <!-- Sidebar-->
      <div class="sidebar">
        <div class=" bg-white" id="sidebar-wrapper">
          <div class="list-group">
            <a class="list-group-item list-group-item-action list-group-item-light pt-5 pb-3 border-0" href="{% url 'notification' %}">Home</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3 border-0" href="{% url 'requester' %}">Purchase Request</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3 border-0" href="{% url 'tracker' %}">Request Tracker</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3 border-0" href="{% url 'history' %}">History</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3 border-0" href="{% url 'about' %}">About Us</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3 border-0" href="#!"></a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3 border-0" href="#!"></a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3 border-0" href="#!"></a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3 border-0" href="#!"></a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3 border-0" href="#!"></a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3 border-0" href="#!"></a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3 border-0" href="#!"></a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3 border-0" href="#!"></a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3 border-0" href="{% url 'login' %}">
              <img class="arrow_img" src="{% static 'images/arrow_right.png' %}" alt=""> Logout
            </a>
          </div>
        </div>
      </div>
