<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device=width,initial-scale=1.0">
    <link rel="stylesheet" href="verification.css">
    <script src="https://fonts.google.com/icons"></script>


    <title>Input Code</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <div class="title">Online Supply System</div>
    <div class="wrapper">
        <div>
            <form action=""></form>
            <img class="verification_icon" src="{% static 'images/verificationlogo.png' %}" alt="">
            <div>
        <header></header>
            <h1>Input Code</h1>
            <p> Enter the Confirmation Code we sent to your phone.</p>

        <div class="input-field">
            <input type="number" />
            <input type="number" disabled>
            <input type="number" disabled>
            <input type="number" disabled>
        </div>
        
        
        <button type="submit" class="btn">Sign Up</button>

            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        </body>
        
        </html>